@use '@carbon/react';
@use '@carbon/react/scss/spacing' as *;

.book-details {
    display: flex;
}

.book-cover {
    margin-top: $spacing-03;
}

.Subjects {
    margin-top: $spacing-05;
}

.Description {
    margin-top: $spacing-05;
    margin-bottom: $spacing-05;
}

.header {
    margin-bottom: $spacing-03;
    font-weight: 700;
}
